<section class="mt-2 software-home-group-section">
  <div>
    <img src="img/14.jpg" alt="">
  </div>
  <div class="mt-5">
    <p class="software-account-title">Saving account</p>
  </div>
  <div class="software-items mt-3">
    <div class="software-item-content" ng-click = "goToDailySavingAccountPage()">
      <div class="software-item">
        <p>Open Daily Saving account</p>
        <span class="ion-arrow-right-a software-arrow-icon"></span>
      </div>
      <hr class="line">
    </div>
    <div class="software-item-content mt-1 pt-1" ng-click = "goToOverviewPage()">
      <div class="software-item">
        <p class="">Overview created Saving account</p>
        <span class="ion-arrow-right-a software-arrow-icon"></span>
      </div>
      <hr class="line">
    </div>
  </div>
</section>
