<ion-content>
  <div class="success-page-content">
    <header class="cib-header">
      <div class="cib-header-content daily">
        <div class="left-side">
          <div class="left-side-content">
            <div class="mr-1">
              <span class="ion-android-close"></span>
            </div>
            <span>{{"CreateDailySavings" | translate}}</span>
          </div>
        </div>
        <div class="right-side">
          <div class="right-side-content daily-right">
            <div class="right-side-image-one">
              <img src="img/2.JPG" alt="" srcset="">
            </div>
            <div class="right-side-image-two">
              <img src="img/3.JPG" alt="" srcset="">
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="success-page">
      <div class="success-content">
        <p class="success-desc">{{"walletBalance" | translate}} <span>EGP 6,918.00</span></p>
      </div>
    </section>

    <div class="success-container">
      <section class="success-plan">
        <span class="terms-title">{{"PlanDetails" | translate}}</span>
        <div class="items">
          <div class="daily-interest">
            <div class="left">
              <span>{{"DailyInterestRate" | translate}}</span>
            </div>
            <div class="right">
              <span>3 %</span>
            </div>
          </div>
          <div class="maintence">
            <div class="left">
              <span>{{"MaintenanceFee" | translate}}</span>
            </div>
            <div class="right">
              <span>EGP 10</span>
            </div>
          </div>
        </div>
      </section>

      <section class="success-plan mt-3">
        <span class="terms-title">{{"NameAccount" | translate}}</span>
        <div class="items">
          <div class="maintence">
            <div class="left">
              <span>Vacation</span>
            </div>
            <div class="right">
              <span class="edit">{{"Edit" | translate}}</span>
            </div>
          </div>
        </div>
      </section>

      <section class="success-plan mt-3">
        <span class="terms-title">{{"Condition" | translate}}</span>
        <div class="items">
          <div class="daily-interest">
            <div class="left">
              <span>{{"MinimalBalance" | translate}}</span>
            </div>
            <div class="right">
              <span>100</span>
            </div>
          </div>
          <div class="maintence">
            <div class="left">
              <span>{{"MaximumBalance" | translate}}</span>
            </div>
            <div class="right">
              <span>EGP 100,000</span>
            </div>
          </div>
        </div>
      </section>
      <div class="success-bottons">
        <button class="back-btn brdr">{{"CloseAccount" | translate}}</button>
        <button  class="back-btn ml-btn brdr">{{"Transactions" | translate}}</button>
      </div>
      <div class="transfer-div">
        <button class="button button-block btn-blue" ng-disabled = "true">{{"Transfer" | translate}}</button>
      </div>

      <div class="successModel">
        <span class="model-title">{{"Success" | translate}}</span>
        <div class="mt-1">
          <p>{{"successMessage" | translate}} <br>{{"successAccountMsg" | translate}}</p>
        </div>
        <div class="mt-1">
          <button class="button btn-width btn-blue" ng-click = "ok()">{{"OK" | translate}}</button>
        </div>
      </div>
    </div>
    <ion-infinite-scroll class="scroll-converstion" on-infinite="loadMore()" distance="1%">
    </ion-infinite-scroll>
  </div>
</ion-content>
